.Signin {
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    width: calc(100vw - 250px);

    left: 0;
    right: 0;
    margin: auto;
    top: 0;

    fieldset {
        border: 0;
        padding: 0;
    }

    legend {
        font-size:  4em;
        text-align: center;
        margin-bottom: 20px;
        font-family: $title-font;
    }

    &__form {
        display: flex;
        border: 1px solid $white-o-45;
        box-shadow: 0 0 30px 2px rgba(0,0,0, 0.2);
        padding: 60px;
        flex-flow: column nowrap;
        width: 40vw;
    }

    &__submit {
        width: 100%;
    }

    &__field label {
        font-size: 1.8em;
        margin-bottom: 10px;
        font-family: $title-font;
    }
   
    &__field input {
        height: 25px;
        background-color: transparent;
        border: 1px solid $white-o-45;
        margin-bottom: 20px;
    }

    &__checkbox {
        margin: 20px 0;

         label {
            font-family: $title-font;
            position: relative;
            font-size: 20px;
            padding-left: 30px;
            transition: color 0.25s;
            cursor: pointer;

            &:before {
                content: "";
                position: absolute;
                left: 1px;
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: 1px solid $white-o-45;
                transition: background-color 0.25s;
            }

            &:hover {
                color: $white-o-45;
                transition: color 0.25s;

                &:before {
                    background-color: $white-o-25;
                    transition: background-color 0.25s;
                }
            }
        }

        & input[type=checkbox] {
            display: none;

            &:checked+label {
                color: $white-o-45;
                transition: color 0.25s;

                &:before {
                    background-color: $white-o-45;
                    transition: background-color 0.25s;
                }
            }
        }

    }

    &__submit  {
        font-size: 2em;
        display: flex;
        justify-content: center;
        margin: 20px 0 40px;
        
        & input[type=submit] { 
            font-size: 20px;
            font-family: $title-font;
            width: 200px;
            height: 50px;
            background-color: transparent;
            border: 1px solid $white-o-45;
            
            transition: background-color 0.25s;
            
            &:hover, &:focus {
                cursor: pointer;
                background-color: $white-o-45;
                transition: background-color 0.25s;
            }
        }
    }
        
    &__field {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-flow: column nowrap;
    }

    &__field--links a, button {
        color: $white;
        border: none;
        background-color: transparent;
        font-size: 20px;
        padding: 0;
        display: inline-flex;
        font-family: $title-font;
        width: 200px;
        text-decoration: none;
        cursor: pointer;
    }
}