body {
background: linear-gradient(to right, $primary-color, $secondary-color);
}

img {
  width: 100%;
}


p, span, a, button, div, small {
  font-family: $text-font;
}


.hidden {
  display: none;
}

main {
  filter: blur(5px);
}