@import url('https://fonts.googleapis.com/css?family=Text+Me+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$text-me-one:  'Text Me One', sans-serif;
$open-sans: 'Open Sans', sans-serif;


$title-font: $text-me-one;
$text-font: $open-sans;